NODE_ENV=development
PORT=3000

MONGO_URL=mongodb://localhost:27017/movie-reservation

ACCESS_TOKEN_SECRET=change-me
REFRESH_TOKEN_SECRET=change-me
SALT_ROUNDS=12

// to create admin
PASSKEY=change-me

//for cors specially
FRONTEND_URL=http://localhost:5173
ALLOWED_ORIGINS=http://localhost:5173

//for oAuth2
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

//cloudnary
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=
